* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
}
:root{
    --bg-color: #ffffff;
    --realbg-color: #dee2e6;
    --heading-color: #000;
    --grey-20: hsl(0, 0%, 20%);
    --grey-35: hsl(0, 0%, 35%);
    --grey-50: hsl(0, 0%, 50%);
    --grey-60: hsl(0, 0%, 60%);
    --grey-75: hsl(0, 0%, 75%);
    --third-color: #5a2824 ;
    --main-color: #F03F32;
    --big-font: 5rem;
    --h2-font: 2.5rem;
    --h3-font: 2rem;
    --h4-font: 1.2rem;
    --p-font: 1.1rem

}
body {
    background: var(--bg-color);
    color: var(--grey-20);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 3%;
    transition: .5s;
}
.navlist{
    display: flex;
}
.logo i{
    font-size: var(--h3-font);
    color: var(--heading-color);
}
.navlist li{
    position: relative;
}
.navlist a{
    font-size: var(--p-font);
    color: var(--heading-color);
    font-weight: 500;
    padding: 10px 27px;
}
.navlist a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: ease .40s;
}
.navlist a:hover::after {
    width: 100%;
}
#menu-icon{
    font-size: 35px;
    color: var(--heading-color);
    z-index: 1001;
    cursor: pointer;
    display: none;
}
.top-btn{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--heading-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 500;
    transition: ease .50s;
}
.top-btn:hover{
    transform: scale(1.1);
    background: var(--main-color);
    border: 2px solid var(--main-color);
    color: var(--bg-color);
}
section{
    padding: 110px 15%;
}
.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: var(--realbg-color);
    color: var(--heading-color);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}
.home-text h1{
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
}
.home-text h5{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
}
.home-text span{
    color: var(--third-color);
}
.home-text h3{
    color: var(--third-color);
    font-size: 20px;
    font-weight: 500;
}
.home-text p{
    font-size: var(--p-font);
    color: var(--grey-35);
    line-height: 28px;
    margin-bottom: 20px;
}
.social a{
    width: 40px;
    height: 40px;
    font-size: 17px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-color);
    background: #39304A;
    margin-right: 22px;
    margin-bottom: 30px;
}
.social a:hover{
    transform: scale(1.1);
    background: var(--main-color);
    transition: 0.5s;
}
.ctmbtn{
    display: inline-block;
    width: auto;
    color: var(--bg-color);
    background-color: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 40px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 30px;
    transition: ease 0.40s;
}
.ctmbtn:hover{
    transform: scale(1.1);
}
.home-img img{
    width: 540px;
    height: auto;
    max-width: 100%;
    border-radius: 1%;
}
.about{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    color: var(--grey-20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-title{
    margin: 10px 0px 30px;
    color: var(--grey-20);
    font-size: var(--h2-font);
    line-height: 1;
    font-weight: 700;
}
.about-subtitle p{
    margin: 10px 0px 25px;
    font-size: var(--h3-font);
    color: var(--grey-35);
    line-height: 1.1;
    font-weight: 300;
}
.about-subtitle p a{
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--grey-75);
    position: relative;
}
.about-btn{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--grey-75);
    border-radius: 30px;
    color: var(--grey-20);
    letter-spacing: 1px;
    font-size: var(--h4-font);
    font-weight: 300;
    transition: ease .50s;
    margin-top: 20px;
}
.about-btn:hover{
    background: var(--grey-20);
    border: 2px solid var(--grey-20);
    color: var(--bg-color);
}
header.sticky{
    background-color: var(--bg-color);
    padding: 13px 15%;
    box-shadow: 0px 0px 10px rgba(0,0,0,10%);
}
.wave-border{
    padding: 0;
    margin: 0;
    height: 100px;
}
.projects{
    background: var(--realbg-color);
}
.pcontainer{
    display: flex;
    flex-direction: column;
}
.single-project{
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed var(--grey-50);
}
.project-image{
    width: 200%;
    margin: 0 25px;
}
.project-image img{
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: 1s;
    cursor: pointer;
}
.single-project:hover *{
    filter: grayscale(0%);
}
.project-content{
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.project-title{
    margin: 0;
    width: fit-content;
    
    color: var(--grey-20);
    font-size: var(--h3-font);
    line-height: 1;
    font-weight: 700;
}
.project-text{
    width: 100%;
    text-align: justify;
    text-justify: auto;
    color: var(--grey-20);
    font-size: var(--h4-font);
    margin: 20px 0;
}
.project-technologies-used{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.project-technologies-used li{
    text-transform: uppercase;
    margin: 0 40px 0 0;
    font-size: calc(var(--p-font) - 0.2rem);
    color: var(--heading-color);
    list-style-type:disc;
}
.project-button-container{
    margin: 2em 0;
    display: flex;
    width: fit-content;
}
.project-button-container a{
    padding: 0.8em 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid var(--grey-50);
    color: var(--grey-35);
    background: transparent;
    transition: .4s;
}
.project-button-container a:hover{
    background: var(--grey-20);
    border: 2px solid var(--grey-20);
    color: var(--bg-color);
}
.view-all-projects{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.view-all-projects a{
    padding: 0.7em 2em;
    font-size: var(--h4-font);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--grey-35);
    border: 2px solid var(--grey-60);
    border-radius: 2em;
    transition: .5s;
}
.view-all-projects a:hover{
    background: var(--grey-20);
    border: 2px solid var(--grey-20);
    color: var(--bg-color);
}

@media (max-width: 1100px){
    header{
        padding: 12px 3%;
        transition: .3s;
    }
    header.sticky{
        padding: 10px 3%;
        transition: .3s;
    }
    section{
        padding: 70px 4%;
        transition: .3s;
    }
    :root{
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --h3-font: 1.5rem;
        --h4-font: 1.1rem;
        --p-font: 1rem;
        transition: .3s;
    }
}
@media (max-width: 800px){
    #menu-icon{
        display: block;
    }
    .home{
        min-height: 80vh;
    }
    .navlist{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--grey-35);
        text-align: right;
        transition: all .5s;
        border-radius: 1%;
    }
    .navlist a{
        display: block;
        padding: 1.2rem;
        margin: 1.5rem;
        border-right: 2px solid var(--bg-color);
        color: var(--bg-color);
        transition: all .5s
    }
    .navlist a:hover{
        background: var(--bg-color);
        color: var(--grey-35);
        transition: all .5s
    }
    .navlist a::after{
        display: none;
    }
    .navlist.active{
        top: 100%;
    }
}
@media (max-width: 600px){
    .header.top-btn{
        font-size: 0.1rem;
    }
    .home{
        grid-template-columns: 1fr;
        min-height: 130vh;
        grid-gap: 4rem;
    }
    .home-text{
        padding-top: 55px;
    }
    .home-img{
        text-align: center;
    }
    .home-img img{
        width: 300px;
        height: auto;
    }
    :root{
        --big-font: 3rem;
        --h2-font: 2rem;
        --h3-font: 1.1rem;
        --h4-font: 1rem;
        --p-font: 0.9rem;
        transition: .3s;
    }
    ::selection{
        padding: 65% 3%;
        transition: .3s;
    }
}