---
---
@import "base";

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
p {
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
p a {
    text-decoration: underline;
    font-weight: bold;
}
code{
    background-color: $colorBlue;
}
.highlight {
    padding: 0.5rem;
    background-color: $colorBlue;
}

.highlighter-rouge {
    padding: 0.2rem;
    background-color: $colorBlue;
}

blockquote {
    margin: 1rem 0;
    padding-left: 1rem;
    border-left: 4px solid $colorYellow;
}
img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width:100%;
}
pre {
    overflow-x: auto;
    max-height: 70vh;
  }

