<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/index.css" | relative_url }}">
  </head>
  <body>
    <div class="centered">
      {%- include header.html -%}
    <p class="centered font-light no-margin text-xl grey3  mb-12">  {{ page.subtitle }} </p>
    <div class="centered">{{ content }}</div>
      {%- include footer-off.html -%}
  </div>
  </body>
</html>
